---
interface Props {
	title: string;
	description: string;
	image: string;
}

const { title, description, image } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const schema = {
	"@context": "https://schema.org",
	"@type": "Person",
	name: "Heyner Javier Marmol",
	url: "https://javymarmol.com",
	sameAs: [
		"https://www.linkedin.com/in/javymarmol",
		"https://github.com/javymarmol",
	],
	image: "https://javymarmol.com/og-image.png",
	jobTitle: "Full Stack Developer",
	worksFor: {
		"@type": "Organization",
		name: "Self-Employed",
		address: {
			"@type": "PostalAddress",
			addressLocality: "Colombia",
			addressCountry: "CO",
		},
	},
	nationality: {
		"@type": "Country",
		name: "Colombia",
	},
}
---

<!doctype html>
<html lang="es">
<head>
	<!-- Google tag (gtag.js) -->
	<script async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-YTMEDE93ZC"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		const gtag: Gtag.Gtag = function () {window.dataLayer.push(arguments);};
		//function gtag(){window.dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-YTMEDE93ZC');
	</script>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg" href="https://blog.javymarmol.com/content/images/size/w256h256/format/png/2023/03/00-1.svg" />
	<meta name="generator" content={Astro.generator} />

	<!-- Basic meta tags for SEO -->
	<title>{title}</title>
	<meta name="description" content={description} />
	<link rel="canonical" href={canonicalURL} />

	<!-- Basic robots meta tag -->
	<meta name="robots" content="/favicon/sitemap-index.xml" />

	<!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
	<meta property="og:locale" content="es_ES" />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={canonicalURL} />
	<meta
		property="og:image"
		content={image || "https://javymarmol.com/og-image.png"}
	/>
	<!-- Basic Twitter Card tags -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={description} />
	<meta
		name="twitter:image"
		content={image || "https://javymarmol.com/og-image.png"}
	/>
	<meta name="twitter:image:alt" content={title} />
	<meta name="twitter:site" content="@javymarmol" />
	<meta name="twitter:creator" content="@javymarmol" />


	<link rel="preconnect" href="https://cdn.fontshare.com" />
	<script type="application/ld+json" is:inline set:html={JSON.stringify(schema)} />

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.bunny.net">
	<link href="https://fonts.bunny.net/css?family=figtree:400,500,600,700&display=swap" rel="stylesheet" />
</head>
<body
	class=" md:h-screen flex flex-col justify-center items-center bg-neutral-900 antialiased"
>
    <slot />
</body>
</html>

<style is:global>
	body {
		margin: 0;
		-webkit-font-smoothing: antialiased;
		font-family: "Figtree", sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,

	b {
		font-weight: 700 !important;
	}
	body:before {
		--line-color: #383838;
		--line-size: 80px;
		content: "";
		height: 100vh;
		width: 101vw;
		position: fixed;
		top: 0;
		z-index: -1;
		mask: linear-gradient(-360deg, transparent 40%, white);
		background: radial-gradient(#ffffff 2%, transparent 16%) 0% 0% / 1em 1em,
		repeating-linear-gradient(0deg, transparent 6.5%, #171717 7%, #171717 9%, transparent 10%) 0% 0% / 1em 1em,
		linear-gradient(45deg, transparent 49%, #ffffff 49%, #ffffff 51%, transparent 51%) 0% 0% / 1em 1em,
		linear-gradient(-45deg, transparent 49%, #ffffff 49%, #ffffff 51%, transparent 51%) 0% 0% / 1em 1em #171717;
		opacity:0.1;
	}
</style>
