---
interface Props {
	title: string;
	description: string;
	image: string;
}

const { title, description, image } = Astro.props;
const schema = {
	"@context": "https://schema.org",
	"@type": "Person",
	name: "Heyner Javier Marmol",
	url: "https://javymarmol.com",
	sameAs: [
		"https://www.linkedin.com/in/javymarmol",
		"https://github.com/javymarmol",
	],
	image: "https://javymarmol.com/og-image.png",
	jobTitle: "Full Stack Developer",
	worksFor: {
		"@type": "Organization",
		name: "Self-Employed",
		address: {
			"@type": "PostalAddress",
			addressLocality: "Colombia",
			addressCountry: "CO",
		},
	},
	nationality: {
		"@type": "Country",
		name: "Colombia",
	},
}
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
	<meta name="description" content={description} />
	<meta name="robots" content="/favicon/sitemap-index.xml" />
	<!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={Astro.url.origin} />
	<meta
		property="og:image"
		content={image || "https://javymarmol.com/og-image.png"}
	/>
	<!-- Basic Twitter Card tags -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={description} />
	<meta
		name="twitter:image"
		content={image || "https://javymarmol.com/og-image.png"}
	/>

	<link rel="preconnect" href="https://cdn.fontshare.com" />
	<script type="application/ld+json" is:inline set:html={JSON.stringify(schema)} />

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.bunny.net">
	<link href="https://fonts.bunny.net/css?family=figtree:400,500,600,700&display=swap" rel="stylesheet" />
</head>
<body
	class=" md:h-screen flex flex-col justify-center items-center bg-neutral-900 antialiased"
>
    <slot />
</body>
</html>

<style is:global>
	body {
		margin: 0;
		-webkit-font-smoothing: antialiased;
		font-family: "Figtree", sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,

	b {
		font-weight: 700 !important;
	}
	body:before {
		--line-color: #383838;
		--line-size: 80px;
		content: "";
		height: 100vh;
		width: 101vw;
		position: fixed;
		//background: linear-gradient(90deg, var(--line-color) 1px, transparent 1px) 0 0 / var(--line-size) var(--line-size), linear-gradient(var(--line-color) 1px, transparent 1px) 0 0 / var(--line-size) var(--line-size);
		top: 0;
		z-index: -1;
		//-webkit-mask: linear-gradient(-360deg, transparent 40%, white);
		mask: linear-gradient(-360deg, transparent 40%, white);
		//background:linear-gradient(45deg, transparent 49%, #383838 49% 51%, transparent 51%) 0% 0% / 3em 3em , linear-gradient(-45deg, transparent 49%, #383838 49% 51%, transparent 51%) 0% 0% / 3em 3em transparent;
		//opacity:0.1;
		//background-size: 80px 80px;
		background: radial-gradient(#ffffff 2%, transparent 16%) 0% 0% / 1em 1em,
		repeating-linear-gradient(0deg, transparent 6.5%, #171717 7%, #171717 9%, transparent 10%) 0% 0% / 1em 1em,
		linear-gradient(45deg, transparent 49%, #ffffff 49%, #ffffff 51%, transparent 51%) 0% 0% / 1em 1em,
		linear-gradient(-45deg, transparent 49%, #ffffff 49%, #ffffff 51%, transparent 51%) 0% 0% / 1em 1em #171717;
		opacity:0.1;
		//background-size: 50px 50px;
	}
</style>
